<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ERROR PAGE</title>
    <style>
    body{
    background-color: {{bg}};
    }
    h1 {
    width:500px;
    margin: 0 auto;
    text-align: center;
    color: #49416D;
    }
    button{
       background-color: #49416D;
       border-radius: 10px;
       text-align: center;
       width: 100%;
       position: absolute;
    }
    </style
</head>
<body>
  <h1 style="size: 50px, text-align: center, color: red, border: black solid">!! THE LOCATION YOU ENTERED IS NOT VALID !!</h1>
  <button onclick="location.href=''" type="button"> return to search page </button>
  <img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-error-icon.png" style="width: 55%; display: block; margin: auto;">
</body>
</html>